.peacock-message {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.peacock-img {
  width: 20%;
  padding-top: 2%;
  max-height: 20%;
}

.message {
  position: relative;
  width: 90%;
  height: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
}

.message .msg-body {
  padding-top: 2%;
  padding-bottom: 2%;
}

.hashtags {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 1.2rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: gray;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

#demo {
  text-align: center;
  font-size: 37px;
  color: rgb(105, 101, 101);
}
