@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy", cursive;
  overflow-x: hidden;
}
